<div class="container mt-3">
    <div class="card">
        <div class="card-title"><h1>Complete Account Setup</h1></div>
        <div class="card-body">
            <h3>Finish setting up your account</h3>
        <form (ngSubmit) ="completeUserRegistration()" [formGroup] = "userData">
            <div class="form-group col-md-4">
                <input class="form-control" formControlName="resetKey" type="number" placeholder="Verification Code" required>

            </div>

            <div class="form-group col-md-4">
                <input class="form-control" formControlName="password" type="password" placeholder="Password" required>
            </div>

            <input class="btn btn-primary" type="submit" value="Finish setup" [disabled]="!userData.valid">           

        </form>
        </div>
    </div>
</div>
