.login{
    background-color: #DCDCDC;
    height: 100vh;

    .begin{
       padding-top: 15vh;
    
       .login-card{
           height: 60vh;
        .login-button{
            color: white;
            width: 100px;
            height: 50px;
            font-weight: bold;
        }
       }
    }

}