<div class="login">
    <div class="container">
        <div class="begin">
            <h2><b>Submit</b></h2>

            <div class="card shadow p-3 mb-5 bg-white rounded login-card">
                <div class="card-body">
                    <h4 class="text-center"><b>Welcome to Submit !</b></h4>

                    <form (ngSubmit)="loginUser()" [formGroup]="loginData">

                        <fieldset>
                            <legend>Email</legend>
                            <input type="text" class="form-control col-md-4" formControlName="email" required>
                        </fieldset>

                        <fieldset>
                            <legend>Password</legend>
                            <input type="password" class="form-control col-md-4" formControlName="password" required>
                        </fieldset>

                        <input class="login-button btn btn-primary mt-3 mb-5" type="submit" value="Login"
                            [disabled]="!loginData.valid">
                        <p>
                            Need an account? <a [routerLink]="['/register']">Sign up here</a>
                        </p>
                        <p>
                            <a [routerLink]="['/request-password-reset']">Forgot password?</a>
                        </p>

                    </form>
                </div>

            </div>

        </div>


    </div>

</div>