.intro-card {   
    color: darkcyan;
    font-family: Rockwell Extra Bold;
    font-size: larger;
    height: 300px;
    padding: 20px;    
    margin-top: 100px;
}
.login-card {
    height: 300px;
    margin-top: 100px;

    h1{
        text-align: center;
    }
    
    .login-button {
        background-color: white;
        color: #034603;
        font-family: Rockwell Extra Bold;
        font-size: larger;
        width: 100px;
        height: 40px;
        border-radius: .4em;
        border-color: #034603 ;
    }
}

