<div class="container">

    <div class="col-md-6">
        <div class="card intro-card">
            <h1>
                Empowering students to exploit their full potential, through handling and submitting their assignments.
            </h1>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card login-card">
            <div class="card-body">
                <h5 class="card-title">
                    <h1>Login Here</h1>
                </h5>

                <form action="">
                   
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="password" class="form-control">
                    </div>
                    <button type="submit" class="login-button">Login</button>
                </form>
            </div>
        </div>
    </div>

</div>