<nav class="navbar shadow-sm mb-5 p-3 bg-white">
    <!-- app name -->

    <div class="app-name">
        
        <h2>Submit         
        </h2>
        
    </div>

    <!-- profile info -->
    <div *ngIf="isLoggedIn" class="user-profile">
        <div class="dropdown">
            <i class="fa fa-user dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </i>
            <ul class="dropdown-menu">
                <!-- Signed in as
               <p><b>{{user.sub}}</b></p> 
                           -->
              <button class="btn btn-danger" *ngIf = "isLoggedIn" (click)="logoutUser()">Logout</button>
               
            </ul>
    

        </div>

      
    </div>
    
</nav>