.app-name{
    float: left;
    margin-left: 20px;
}
.user-profile{
    float: right;
    margin-right: 300px;
.dropdown{
    position: relative;
    display: inline-block;    
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-menu {
    display: block;
  }
 
}