<div class="container">
    <div>
        <h4>Reset Password</h4>
        <form (ngSubmit) = "requestPasswordReset()" [formGroup] = "userData">
            <div class="form-group">
                <input type="email" placeholder="enter your email" formControlName = "email" required>
                
            </div>

            <div>
                <input type="submit" class="btn-primary" value="Continue">
            </div>
        </form>
    </div>
</div>
