.course{
    .btn-create{
        font-size: bolder;
        border-color: darkgreen;
       
        height: 45px;
        width: 200px;
        background-color: white;
        text-align: center;
    }
}