<div class="container mt-3">
    <!-- Create course -->
    <!--   -->
    <div *ngIf = "user && user.auth == 'INSTRUCTOR'"class="course" >
        <button type = "button" class="btn-create" data-toggle="modal"
        data-target="#addCourseModal"> <i class="fa fa-plus-square" aria-hidden="true" ></i> &nbsp; Add Course</button>
    </div>

    <div *ngIf = "user && user.auth == 'STUDENT'"class="course" >
        <button type = "button" class="btn-enroll" data-toggle="modal"
        data-target="#enrollCourseModal"> <i class="fa fa-plus-square" aria-hidden="true" ></i> &nbsp; Enroll Course</button>
    </div>

    <!-- Add course modal -->
    <div class="col-md-6">
        <div class="modal fade" id="addCourseModal">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Course</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form (ngSubmit)="createCourse()" [formGroup]="courseData">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="courseCode"
                                    placeholder="Course Code">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="courseName"
                                    placeholder="Course Name">

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Create Course">
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <!-- student enroll to a course -->

    <div class="col-md-6">
        <div class="modal" id="enrollCourseModal">
            <div class="modal-content">
                <h5 class="modal-title">Enroll to a course</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <!-- (ngSubmit) = "enrollCourse" [formGroup] = "courseDetails" -->
                    <form >
                        <div class="form-group">
                            <input type="number" placeholder="Enter Enrollment Key" formControlName = "courseKey">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary" value="Enroll">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- List all courses linked to a user -->

    <div>
        <div>
            <div class="table">
                <thead>
                    <tr>
                        
                        <th scope="col">Course Code</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Actions</th>
                    </tr>                    
                </thead>

                <tbody>
                    <tr *ngFor = "let course of courseInfo">                       
                        <td>{{course.courseCode}}</td>
                        <td>{{course.courseName}}</td>
                        <td><a href="#">Manage</a><span><i class="caret"></i></span></td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>

</div>