<div class="container">
    <div>
        <h4>Reset Password</h4>
        <form (ngSubmit) = "resetPassword()" [formGroup] = "userData">
            <div class="form-group">
                <input type="number" class="form-control" placeholder="verification code" formControlName = "resetKey" required>                
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="New password" formControlName = "newPassword" required>
            </div>

            <div>
                <input type="submit" class="btn-primary" value="Reset Password">
            </div>
        </form>
    </div>
</div>

