<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title"><b>Create User Profile</b></div>
            <div class="card-body">
                <p>All Submit users must have user profiles to use the service. Select how you would want to use submit
                    and enter your email to continue with the registration process. </p>


                <form [formGroup]="registerData" (ngSubmit)="registerUser()">
                   
                        <div class="form-check">
                            <input formControlName = "role" class="form-check-input" type="radio" name="role" id=""
                                value="STUDENT">
                            <label for="form-check-label" for="userRoleStudent">&nbsp;Student</label>
                        </div>

                        <div class="form-check">
                            <input formControlName = "role"class="form-check-input" type="radio" name="role" id=""
                                value="INSTRUCTOR">
                            <label for="form-check-label" for="userRoleInstructor">&nbsp;Instructor</label>
                        </div>

                        <div class="form-group col-md-4">
                            <input formControlName = "email" class="form-control" type="text" name="" id=""
                                placeholder="enter email" required>

                        </div>                               
                   
                    
                    <input class="btn btn-primary" type="submit" value="Continue" [disabled]="!registerData.valid">
                  
                </form>



            </div>

        </div>
    </div>
</div>